<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <div id="exercicio7">
        <button @click='toggle = !toggle'>Botao</button>
        <transition name='desvanecer'>
            <div v-if='toggle'>Texto</div>
        </transition>
        <transition name='deslizar'>
            <div v-if='toggle'>Texto 2</div>
        </transition>
    </div>
    <script>
        new Vue ({
            el:'#exercicio7',
            data:{

            }
        });
    </script>
</body>
</html>