<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2>Lista de Tarefas</h2>
        <input type="text" placeholder="Insira nova tarefa" v-model='novaTarefa'>
        <button @click='inseretarefa()' @keyup.enter='inseretarefa()'>Inserir</button>
        <ul>
            <li v-for='item in tarefas'>{{item}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                titulo:'hello world',
                tarefas:[
                    'Exercicios de HTML e CSS',
                    'Exercicios de Javascript',
                    'Exercicios de VueJS',
                    'Exercicios de Angular',
                    'Juntar tudo o Projeto tooolbox2'
                ]
            },
            methods:{
                inseretarefa:function(){
                    if(!!this.novaTarefa){
                        this.tarefas.push(this.novaTarefa)
                        this.novaTarefa=''
                    }
                }
            }
        })
    </script>
</body>
</html>